        ::-webkit-scrollbar {
            width: 0px;
        }

        ::selection {
            background: #FF5E99;
            color: #222;
            text-shadow: none;
        }

        .tpad {



        }

        body
        {
            
        }

        #ttxt
        {
            width:1150px;
            height:600px;
            padding-left:30px;
            padding-top:30px;
            font-size: 18px;
            background: #eee;

        }

        cursor:text{
            color:red;
        };
textarea:focus{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        };